a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #858585;
}
.development-container, .design-container, .art-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.art-container {
  margin-bottom: 20px;
}
.project-container {
  display: flex;
  width: 250px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.project-title {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 23px;
}
.copyright {
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
