.projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}
.projects-title {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 100px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;
}
.subproject-title {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 85px;
  }
}
